<div class="col-md-12" style="top:0px;">
  <div class="row" *ngFor="let i of iRows">
    <div class="col" *ngFor="let j of iCols;">
      <ng-container *ngIf="videoLinks[(i * iCols.length) + j] else noimage">
        <img class="thumb" alt="" (click)="openVideo(content)"
          src="{{videoBaseUrl + videoLinks[(i * iCols.length) + j]}}">
      </ng-container>

      <ng-template #noimage>
        <img class="thumb" alt="" (click)="openVideo(content)"
          src="../../assets/images/youtube-play-button-transparent-png-15.png">
      </ng-template>

      <!-- <img class="thumb" alt="" (click)="openVideo(content)"
        src="../../assets/images/youtube-play-button-transparent-png-15.png"> -->
    </div>
  </div>
</div>

<!-- <div class="col-md-12">
  <input type="range" min="1" max="100" value="50" class="form-control">
</div> -->

<div class="top-left">
  <div class="text-center">
    <ul class="list-group" *ngIf="players">
      <li class="list-group-item" *ngFor="let player of players">
        {{ player.PlayerName }}
      </li>
    </ul>
  </div>
</div>

<div class="top-right">
  <div class="text-center">
    <ul class="list-group" *ngIf="teams">
      <li class="list-group-item" *ngFor="let team of teams">
        {{ team.TeamName }}
      </li>
    </ul>
  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-body" style="padding:0; margin:0; background-color: black;">
    <!-- <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button> -->
    <video width="500" autoplay>
      <!--controls -->
      <!-- <source src="https://media.w3.org/2010/05/sintel/trailer.mp4" type="video/mp4"> -->
      <source src="http://gamevideo.nba-hq.com/0000837000/0000837053_1509kbps.mp4" type="video/mp4">
      Your browser does not support HTML5 video.
    </video>
  </div>
</ng-template>

<!-- <ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Modal title</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>One fine body&hellip;</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
  </div>
</ng-template> -->
