/* You can add global styles to this file, and also import other style files */

/* body {
  background: url('//2.bp.blogspot.com/-SUGVFOrYZz0/VCMQY5iFsNI/AAAAAAAACJM/hWQYe0SIEEw/s1600/dark_wood.png');
} */

/* html {
  overflow: hidden;
} */

.col {
  border: black solid 1px;
  min-height: 90px;
  padding: 0;
  /* background-color: green; */
  transition: transform .2s;
  margin: 0;
  z-index: 0;
}

.thumb {
  border: 0;
  min-height: 90px;
  /* width: 111px; */
  width: 100%;
  /* height: 100px; */
  /* padding: 55px; */
  transition: transform .2s;
  z-index: 1000;
  margin: 0;
}

.col:hover {
  -ms-transform: scale(1.5);
  /* IE 9 */
  -webkit-transform: scale(1.5);
  /* Safari 3-8 */
  transform: scale(1.25);
  z-index: 1001;
  /* background-color: red; */
  border: black solid 1px;
  border-radius: 10px;
}

.top-left {
  position: absolute;
  /* top: 25px; */
  top: 50%;
  transform: translate(-50%, -50%);
  left: 20%;
  z-index: 1002;
}

.top-right {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  right: 7%;
  z-index: 1002;
}

.list-group-item {
  background: transparent;
  font-weight: bold;
  color: white;
  border: 0px;
}

.list-group-item:hover {
  background-color: whitesmoke;
  font-weight: bold;
  /* font-size: 150%; */
  color: black;
  opacity: 0.5;
  border-radius: 15px;
}
